<form action="/search/Manufacturer" method="post">
      <label>Invoice Number:</label>
      <input type="text" id="Manufacturer" name="Manufacturer">
      <button type="submit">Find</button>
</form>